html,body{
  margin:0 auto;
  font-family:Arial;
}
.container{
  display:flex;
  padding:10px;
  flex-wrap:wrap;
}
.center{
  justify-content:center;
  align-items:center;
}

.navbar {
    background: rgb(253, 135, 0);
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background-color:rgb(230, 185, 126);
}

nav{
  background-color:cornflowerblue;
}
nav a{
  color:black;
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
}
nav a:hover{
  color:white;
}
.subbanner{
  background-color:rgb(202, 202, 202);
}
#banner{
  background-color:rgb(253, 135, 0);
  color:white;
}
#footer{
  background-color:rgb(253, 135, 0);
  color:white;
  left: 0;
  right: 0;
  bottom:0px;
}
 #cards_output{
   flex:1;
   max-height:600px;;
   overflow-y:scroll;
 }
.card{
  flex:1;
  margin:10px;
  padding:10px;
  border:1px solid gray;
  text-align:center;
  background-color: rgb(202, 202, 202);
}
#map{
  flex:1;
  width:90%;

  height:calc(100vh - 300px);

  border-radius:10px;
  box-shadow:2px 2px 2px black;
}
.highlight{
  font-style:italic;
  color:blue;
}
.heading{
  font-weight:bold;
}
.button{
  text-decoration:none;
  background-color:rgb(253, 135, 0);
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
  cursor: pointer;
}
.button:hover{
  background-color:rgb(230, 185, 126);
}

.fitted{
  max-width:200px;
  min-width:200px;
  border-radius:5px;
  
  box-shadow:2px 2px 2px gray;
}